// Colors
@primary  : #ccc; // default text
@secondary: @primary;
@subtle   : #b3b0d6;

@cyan     : #43C1BE;
@blue     : #65aef7;
@purple   : #aa7ff0;
@green    : #5ECA89;
@red      : #ef6487;
@red-2    : lighten(@red, 20%);
@orange   : #fcc22d;
@orange-2 : lighten(@orange, 20%);

// Base
@syntax-fg : @primary;
@syntax-bg : #313040;

// Gutter
@syntax-gutter: @primary;
@syntax-guide : fadeOut(@primary, 80%);
@syntax-accent: #fff;
