// Config
@syntax-hue       : 100;
@syntax-saturation: 100%;
@syntax-brightness: 100%;

// Monochrome
@mono-1: #ccc; // default text
@mono-2: #666;
@mono-3: #b3b0d6;

// Colors
@hue-1  : #43C1BE; // <-cyan
@hue-2  : #65aef7; // <-blue
@hue-3  : #aa7ff0; // <-purple
@hue-4  : #5ECA89; // <-green

@hue-5  : #ef6487; // <-red 1
@hue-5-2: lighten(@hue-5, 20%); // <-red 2

@hue-6  : #fcc22d; // <-orange 1
@hue-6-2: lighten(@hue-6, 20%);  // <-orange 2

// Base colors
@syntax-fg    : @mono-1;
@syntax-bg    : #313040;
@syntax-gutter: @syntax-fg;
@syntax-guide : fade(@syntax-fg, 15%);
@syntax-accent: hsl(@syntax-hue, 100%, 66% );
